services:
  api:
    build: .
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - redis

  worker:
    build: .
    command: python -m app.worker.worker
    env_file:
      - .env
    depends_on:
      - redis

  # redis:
  #   image: redis:7-alpine
  #   ports:
  #     - "6379:6379"
