name: File Converter CI

on:
  push:
    branches: [ "main", "develop" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      redis:
        image: redis:7
        ports:
          - 6379:6379

    env:
      ENV: test
      UPSTASH_REDIS_HOST: localhost
      UPSTASH_REDIS_PORT: "6379"
      REDIS_URL: redis://localhost:6379
      DATABASE_URL: "sqlite+aiosqlite:///:memory:"
      DATABASE_URL_SYNC: "sqlite:///:memory:"
      JWT_SECRET_KEY: "super-secret-key"
      JWT_ALGORITHM : "HS256"
      JWT_EXPIRE_MINUTES : 60
      DATABASE_URL1: "sqlite+aiosqlite:///./test.db"


    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt

      - name: Run Tests
        run: docker run --rm file-converter-api:latest pytest -v

          
      - name: Build and Start Services
        run: docker build -t file-converter-api:latest .


    
      

